.header {
  background-color: $pink;
  display: grid;
  grid-template-columns: auto minmax(400px, $sm) auto;
  padding-bottom: 13px;
}

.header__wrapper {
  max-width: $sm;
  grid-column: 2 / -2;

  display: flex;
}

.header__logo {
  margin-top: 15px;
  margin-left: 41px;
}

.header__navigation {
  margin-left: 12px;
  margin-top: 29px;
}

.header__slogan {
  margin-top: 40px;
  margin-right: 39px;
  margin-left: auto;

  font-size: 2.4rem;
  font-weight: 800;
  text-align: right;
  line-height: 2.7rem;
  color: $bittersweet;

  max-width: 200px;
}
