.section {
  padding-left: 32px;
  display: grid;
  grid-template-columns: 1fr 40px 680px 1fr;
}

.section__aside {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__wrapper {
  grid-column: 3 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__heading {
  font-size: 3rem;
  font-weight: 800;
  color: $bittersweet;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: center;
  text-align: center;
}


.section__text {
  font-size: 2.4rem;
  font-weight: 800;
  color: $bittersweet;
  margin-top: 19px;
  text-align: center;
}

.section__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(2, 200px);
  grid-auto-rows: 200px;
  gap: 20px;

  margin-top: 18px;

  &--small {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, 140px);
  }

  &--reverse {
    .section__item:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      grid-auto-flow: dense;
    }
  }

  &--classic {
    .section__item:first-child {
      grid-column: -1 / -2;
      grid-row: 1 / -1;
    }
  }

  &--wide {
    grid-template-areas:
      "wide wide third"
      "fourth fifth sixth";

    .section__item:first-child {
      grid-area: wide;
    }
  }
}

.section__item {
  background-color: rgba($bittersweet, 0.75);
}

.section__button {
  border: none;

  margin-top: 20px;
  align-self: center;
  width: 100%;
  max-width: 460px;
  background-color: $soft-orange;

  color: $mauve-soft-alt;
  font-weight: 800;
  font-size: 2.4rem;

  padding-top: 14px;
  padding-bottom: 14px;
}

.section__bank-form {
  margin-top: 30px;
}
