$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

$mauve: #E393FF;
$mauve-soft: #F1C9FF;
$mauve-soft-alt: #F7DFFF;
$bittersweet: #FF785C;

$soft-pink: rgba($mauve, 0.3);
$pink: rgba($mauve, 0.5);
$soft-orange: rgba($bittersweet, 0.75);
